/* General Styles */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

h5 {
    font-weight: 600;
}


/* Main Content Styles */
/* main {
    padding: 20px;
} */

.row {
    margin: 10px;
}

section{
    padding:20px;
}

h1 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

input[type="text"]{
    margin-top: 10px;
    width: 90%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 28px;
    margin-bottom: 10px;
    height: 52px;
    font-size: 16px;
    background-color: white;
    background-image: url('/img/search.png');
    background-position: 15px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;


  
}
/* input[type="text"], select {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/img/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  
} */

/* Card Styles */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 15px;
}

.card-body {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-box {
    display: flex;
}

.card-title {
    color: #333;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
}

.card-text {
    font-size: 0.95rem;
    color: #666;
}

.card-img-left {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 6px;
}

/* Footer Styles */
footer {
    background-color: #264653;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer address, footer p {
    margin-bottom: 10px;
    font-size: 0.85rem;
}

footer .social-icons img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}

/* Sponsored Section Styles */
.sponsored {
    margin: 15px 0;
}

.sponsored img {
    width: 100%;
    border-radius: 10px;
}

.see-all {
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
}

.see-all:hover {
    text-decoration: underline;
}

/* Utility Classes */
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.text-muted {
    color: #6c757d !important;
}


/* Section - Hero */
.hero{
    width: 100%;
    height: 247px; /* Adjust as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85)),
    url('./img/hero.png');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* padding: -20px !important; */
}

.hero h1{
    color:white;
    padding: 43px 0 40px 0;
    font-weight: bold;
    margin:0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.select-location{
    color: white;
    display:flex;
    align-items: center;
    gap: 4px;
}

.select-location img{
    height: 24px;
    width: 24px;
}

.select-location p{
    font-size: 14px;
}

.location{
    width: 90%;
    margin: 40px auto 20px;
    gap: 50px
}